bpf_process_tree_builder/code/objects
bpf_process_tree_builder/code/binfiles
bpf_process_tree_builder/code/GUI
bpf_process_tree_builder/code/analyzer
bpf_process_tree_builder/code/map_extractor
bpf_process_tree_builder/code/extractorlog.txt
bpf_process_tree_builder/code/read_stat
bpf_process_tree_builder/code/read_names
bpf_process_tree_builder/code/read_map
bpf_process_tree_builder/code/tree_extractor

bpf_process_tree_builder_saving/code/objects
bpf_process_tree_builder_saving/code/binfiles
bpf_process_tree_builder_saving/code/GUI
bpf_process_tree_builder_saving/code/analyzer
bpf_process_tree_builder_saving/code/map_extractor
bpf_process_tree_builder_saving/code/extractorlog.txt
bpf_process_tree_builder_saving/code/read_stat
bpf_process_tree_builder_saving/code/read_names
bpf_process_tree_builder_saving/code/read_map
bpf_process_tree_builder_saving/code/tree_extractor

bpf_container_process_tree_builder/code/objects
bpf_container_process_tree_builder/code/binfiles
bpf_container_process_tree_builder/code/GUI
bpf_container_process_tree_builder/code/analyzer
bpf_container_process_tree_builder/code/map_extractor
bpf_container_process_tree_builder/code/extractorlog.txt
bpf_container_process_tree_builder/code/read_stat
bpf_container_process_tree_builder/code/read_names
bpf_container_process_tree_builder/code/read_map
bpf_container_process_tree_builder/code/tree_extractor

initial_version/code/objects
initial_version/code/analyzer
initial_version/code/map_extractor
initial_version/code/extractorlog.txt
initial_version/code/read_stat
initial_version/code/read_names
initial_version/code/read_map
initial_version/code/programs_traces.txt

tests_programs/a.out
tests_programs/anomaly_program
tests_programs/parent
tests_programs/stat
tests_programs/timer
tests_programs/disk_write
tests_programs/threads
